{% extends "store/front-base.html" %}
{% block title %}Categories{% endblock %}

{% block head %}
  <style>
  article p { font-size: 1.2em; color: #333; }

  </style>
{% endblock %}

{% block main %}

  <h1 class="page-header">About</h1>
  <article class="row">
    <div class="col-md-8">
      <h2>CFMQ</h2>
      <p>CFMQ stands for <em>Chenfan and Moquan</em></p>
      <p>This website can communicate with UPS and Warehouse to buy and products</p>

      <h2>CFMQ</h2>
      <p>The website is designed by Chenfan Li and Moquan Jiang for ece590.</p>
      
    </div>
  </article>

{% endblock %}
